SERP_API_KEY=API_KEY
GEMINI_API_KEY=API_KEY
UPSTASH_REDIS_REST_URL=https://verified-kite-99578.upstash.io
UPSTASH_REDIS_REST_TOKEN=API_KEY
ALLOWED_ORIGINS=http://localhost:5173,https://gauge-app.vercel.app
