SERP_API_KEY=df2f7b16b2a2e90c8fefa50e36a0eef8b80354341721fb3b4a31a83cfb7bf202
GEMINI_API_KEY=AIzaSyC6h1KyiuGQ_8zxRxNnnofJEtAk3wsjiP8
UPSTASH_REDIS_REST_URL=https://verified-kite-99578.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAYT6AAIncDFhZThkOTE4NmE0ZmU0MmM3OTFmODhmNWViYmNlMzRlZXAxOTk1Nzg
ALLOWED_ORIGINS=http://localhost:5173,https://gauge-app.vercel.app
